<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Músicas</title>
</head>
<body>
    <h2>Adicionar Músicas<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Nome da Música" name="name">
        <input type="text" placeholder="Artista" name="surname">
        <button type="submit">Adicionar</button>
    </form> 

</body>
</html>